#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--c-bg-sidebar);
    color: var(--c-text-light);
    box-shadow: var(--shadow-sidebar);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 50;
}

.sidebar-header,
#sidebar-nav,
#sidebar-footer {
  font: var(--text-600-md);
}

.sidebar-header {
    padding: 0 1em 2em 1em;
    font: var(--t-sidebar-subheader);
}

.sidebar-header * {
    display: block;
}

.sidebar-header > span:first-child {
    font: var(--t-sidebar-header);
}

.sidebar-header span:not(:first-child) {
    font: var(--t-sidebar-subheader);
    color: var(--c-text-darkgrey);
}

#sidebar-nav {
    display: block;
    height: -webkit-fill-available;
}

#sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 1em 0;
}

#sidebar-nav > ul > li:first-child {
    padding-bottom: 2em;
}

.sidebar-button {
    display: flex;
    min-height: 3.5em;
    align-items: center;
    color: var(--c-text-darkgrey);
    padding: 0.5em 1em;
    margin-bottom: 4px;
    border-radius: var(--border-radius-sm);
    transition-duration: 0.2s;
}

.sidebar-button i {
    min-width: 16px;
    text-align: center;
}

.sidebar-button:hover,
.sidebar-button:focus,
.sidebar-button.active {
    background-color: var(--c-bg-light-hover);
    color: var(--c-text-lightgrey);
}

.sidebar-button.active {
    pointer-events: none;
}

.sidebar-button span {
    flex: 1;
}

.sidebar-button.icon-left i:first-child {
    padding-right: 1em;
}

/* Mobile */

.sidebar-mobile-header {
    display: none;
    font: var(--t-mobile-h2);
    padding: 0.785em 0;
}

.sidebar-mobile-header span {
    flex: 1;
    text-align: center;
}

#sidebar-mobile-menu-button {
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media only screen and (max-width: 992px) {
    #sidebar {
        width: calc(var(--sidebar-width) - 4em);
    }
}

@media only screen and (max-width: 768px) {
    .sidebar-mobile-header {
        display: flex;
    }

    #sidebar {
      width: 100%;
      height: initial;
      padding: 0;
      display: flex;
    }

    .sidebar-header,
    #sidebar-nav,
    #sidebar-footer {
        display: none;
    }

    #sidebar-nav {
        display: none;
        position: absolute;
        background-color: var(--c-bg-sidebar);
        height: calc(100dvh - 48px);
        width: 100vw;
        top: 48px;
    }

    .sidebar-button {
        text-align: center;
    }

    .sidebar-button i {
        display: none;
    }

    #sidebar-footer {
        position: absolute;
        bottom: 0;
        width: 100vw;
    }
}