@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nunito+Sans:wght@400;600;700&display=swap');

@import url('./properties.css');
@import url('./sidebar.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}

a {
    color: var(--c-primary);
}

body {
    min-height: 100dvh;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--c-bg-light);
    color: var(--c-text-dark);
}

/* Main content */
#content-container {
    display: flex;
    justify-content: center;
    margin-left: var(--sidebar-width);
    min-height: 100dvh;
}
#content-container.dark {
    background-color: var(--c-bg-dark);
    color: var(--c-text-light);
}

.content {
    max-width: var(--content-width);
    padding: 6em 2em;
}

.content-header {
    margin-bottom: 6em;
}

.content-header * {
    display: block;
}

.content-header span:first-child{
    font: var(--t-h1);
}

.content-header span:not(:first-child) {
    font: var(--t-subheader);
    color: var(--c-text-darkgrey);
    margin-top: 2em;
}

.content-description {
    font: var(--text-400-md);
}

/* Grid, topic cards */
.topics > span:first-child {
    font: var(--text-700-xl);
}

.topic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em;
    margin-top: 2em;
}

.topic-card {
    display: flex;
    position: relative;
    align-items: end;
    height: 128px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: var(--shadow-card);
    border-radius: var(--border-radius-md);
    padding: 0.5em 0.875em;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.topic-card::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    background: var(--card-background-gradient);
}

.topic-card,
.topic-card:hover,
.topic-card:focus {
    color: var(--c-text-light);
}

.topic-card:hover {
    transform: translateY(-3px);
}

.topic-card span {
    font: var(--headline-700-md);
    z-index: 10;
}

.topic-title {
  font: var(--text-400-md);
  padding: 0.5em;
  text-align: center;
}

/* Article page */

#content-container.article {
    flex-direction: column;
    align-items: center;
}

.content.article {
    padding: 2em 0;
    margin: 0 2em;
}

.content.article p {
    line-height: 175%;
}

.article-header {
    height: 320px;
    width: 100%;
    padding: 0 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
}

.article-header h1 {
    font: var(--t-h1);
    width: 100%;
    max-width: var(--content-width);
    margin-bottom: 0.83em;
    color: white;
    z-index: 10;
}

.article-header::before {
    content: " ";
    width: 100%;
    height: 320px;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    background: var(--card-background-gradient);
}

.chapter > * {
    padding: 1em 0;
    margin: 0;
}

.chapter h2 {
    padding: 2em 0 1em 0;
    font: var(--t-h2);
}

.chapter h3 {
    padding: 2em 0 0 0;
    font: var(--t-h3);
}

.chapter img {
    width: 100%;
    max-width: 800px;
}

.image-section {
    display: flex;
    align-items: center;
}

.image-section img {
    width: 48%;
}

.image-section img:first-child, .image-section *:first-child {
    flex: 1;
    margin-right: 3em;
}

/* Unordered list */

.chapter ul {
    list-style-type: none;
    padding-left: 0;
}

.chapter ul > li {
    position: relative;
    padding-left: 1.785em;
    margin: 1em 0;
    line-height: 175%;
}

.chapter ul > li::before {
    position: absolute;
    content: " ";
    background: var(--color-blue-500);
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    left: 0;
    top: 0.6em;
}

.chapter ul > li > ul, .chapter ol > li > ul {
    list-style-type: none;
    padding-left: 0;
}

.chapter ul > li > ul > li, .chapter ol > li > ul > li {
    position: relative;
    padding-left: 1.785em;
    margin: 1em 0;
    line-height: 175%;
}

.chapter ul > li > ul > li::before, .chapter ol > li > ul > li::before {
    position: absolute;
    content: " ";
    background: none;
    border: 2px solid var(--color-blue-500);
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    left: 0;
    top: 0.6em;
}

/* Ordered list */

.chapter ol {
    list-style-type: none;
    padding-left: 0;
}

.chapter ol > li {
    position: relative;
    padding-left: 2.5em;
    margin: 1.5em 0;
    line-height: 175%;
}

.chapter ol {
    counter-reset: list-counter;
}

.chapter ol > li {
    counter-increment: list-counter;
}

.chapter ol > li::before {
    position: absolute;
    content: counter(list-counter);
    background: var(--color-blue-500);
    width: 1.785em;
    height: 1.785em;
    padding-top: 0.235em;
    border-radius: 100%;
    text-align: center;
    color: white;
    font: var(--t-ol);
    left: 0;
    top: 0.05em;
}

/* Table */

.chapter table {
    background-color: white;
    border-radius: var(--border-radius-md);
    border-collapse: collapse;
    border-spacing: 4em 0;
}

.chapter tr:not(:last-child) {
    border-bottom: 1px solid var(--c-bg);
}

.chapter td {
    padding: 1.5em 1em;
}

.chapter td:not(:first-child) {
    border-left: 1px solid var(--c-bg);
}

/* Responsivity adjustments */
@media only screen and (max-width: 992px) {

    #content-container {
        margin-left: calc(var(--sidebar-width) - 4em);
    }

    .content.article {
        width: calc(100vw - 4em);
    }

    .image-section {
        flex-direction: column;
      }
    
      .image-section img {
        width: 100%;
      }
    
      .image-section img:first-child, .image-section *:first-child {
        margin-right: 0;
        padding-bottom: 2em;
      }
}

@media only screen and (max-width: 768px) {
    
  #content-container {
    margin-left: 0;
  }

  .content.article {
    width: calc(100vw - 4em);
}

  .topic-grid {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  
}

@media only screen and (max-width: 480px) {

    .content.article {
        width: calc(100vw - 4em);
    }

  .topic-grid {
    grid-template-columns: 1fr;
  }
}
